body {
    margin: 0;
    padding: 0;
}
.chart-container {
    margin-right: 2em;
    margin-left: 2em;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 1em;
}
.header-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2em;
    border-bottom: 1px solid #cccccc;
}
.header-buttons > button{
    padding: 1.5em;
    margin-right: 3em;
}
.input-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2em;
    border-bottom: 1px solid #cccccc;
}

.input-container > table, th, td {
    border: 1px solid #cccccc;
    padding: 1.5em;
}

#Z1 {
    background-color: rgba(5, 155, 5, 0.2);
}

#Z2 {
    background-color: rgba(5, 250, 222, 0.2);
}

#Z3 {
    background-color: rgba(155, 22, 152, 0.2);
}

#Z4 {
    background-color: rgba(156, 35, 5, 0.2);
}

