<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="header-buttons">
    <button id="button-chart">Generuj wykres</button>
    <button id="button-reset">Resetuj dane</button>
</div>
<div class="input-container">
    <table>
        <tr>
            <th>Zadanie [Zi]</th>
            <th>Czas Przybycia [Ri]</th>
            <th>Marszruta [Pi]</th>
            <th>Dodaj</th>
        </tr>
        <tr>
            <td id="Z1">Z1</td>
            <td class="time-arrived">
                <input data-input-id="1"class="time-arrived-input" type="number" value="0" placeholder="podaj czas przybycia">
            </td>
            <td data-task-id="1"></td>
            <td>
                <select class="machine-select">
                    <option value="">--Wybierz maszynę--</option>
                    <option value="1">M1</option>
                    <option value="2">M2</option>
                    <option value="3">M3</option>
                    <option value="4">M4</option>
                </select>
                <input class="time-job" type="number" placeholder="czas procesu" value="0">
                <button class="add-process">dodaj</button>
            </td>
        </tr>
        <tr>
            <td id="Z2">Z2</td>
            <td class="time-arrived">
                <input data-input-id="2" class="time-arrived-input" type="number" value="0" placeholder="podaj czas przybycia">
            </td>
            <td data-task-id="2"></td>
            <td>
                <select class="machine-select">
                    <option value="">--Wybierz maszynę--</option>
                    <option value="1">M1</option>
                    <option value="2">M2</option>
                    <option value="3">M3</option>
                    <option value="4">M4</option>
                </select>
                <input class="time-job" type="number" placeholder="czas procesu" value="0">
                <button class="add-process">dodaj</button>
            </td>
        </tr>
        <tr>
            <td id="Z3">Z3</td>
            <td class="time-arrived">
                <input data-input-id="3" class="time-arrived-input" type="number" value="0" placeholder="podaj czas przybycia">
            </td>
            <td data-task-id="3"></td>
            <td>
                <select class="machine-select">
                    <option value="">--Wybierz maszynę--</option>
                    <option value="1">M1</option>
                    <option value="2">M2</option>
                    <option value="3">M3</option>
                    <option value="4">M4</option>
                </select>
                <input class="time-job" type="number" placeholder="czas procesu" value="0">
                <button class="add-process">dodaj</button>
            </td>
        </tr>
        <tr>
            <td id="Z4">Z4</td>
            <td class="time-arrived">
                <input data-input-id="4" class="time-arrived-input" type="number" value="0" placeholder="podaj czas przybycia">
            </td>
            <td data-task-id="4"></td>
            <td>
                <select class="machine-select">
                    <option value="">--Wybierz maszynę--</option>
                    <option value="1">M1</option>
                    <option value="2">M2</option>
                    <option value="3">M3</option>
                    <option value="4">M4</option>
                </select>
                <input class="time-job" type="number" placeholder="czas procesu" value="0">
                <button class="add-process">dodaj</button>
            </td>
        </tr>
    </table>
</div>
<div class="chart-container">
    <canvas id="myChart"></canvas>
</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const tasksFromUser = [{
        task_id: 1,
        machine_name: 'M4',
        machine_id: 4,
        time: 10,
        time_arrived: 0
    },
    {
        task_id: 1,
        machine_name: 'M1',
        machine_id: 1,
        time: 20,
        time_arrived: 0
    },
    {
        task_id: 1,
        machine_name: 'M2',
        machine_id: 2,
        time: 20,
        time_arrived: 0
    },

    {
        task_id: 2,
        machine_name: 'M4',
        machine_id: 4,
        time: 5,
        time_arrived: 10
    },
    {
        task_id: 2,
        machine_name: 'M1',
        machine_id: 1,
        time: 25,
        time_arrived: 10
    },
    {
        task_id: 2,
        machine_name: 'M3',
        machine_id: 3,
        time: 5,
        time_arrived: 10
    },

    {
        task_id: 3,
        machine_name: 'M1',
        machine_id: 1,
        time: 10,
        time_arrived: 20
    },
    {
        task_id: 3,
        machine_name: 'M2',
        machine_id: 2,
        time: 15,
        time_arrived: 20
    },
    {
        task_id: 3,
        machine_name: 'M4',
        machine_id: 4,
        time: 10,
        time_arrived: 20
    },

    {
        task_id: 4,
        machine_name: 'M3',
        machine_id: 3,
        time: 20,
        time_arrived: 30
    },
    {
        task_id: 4,
        machine_name: 'M2',
        machine_id: 2,
        time: 10,
        time_arrived: 30
    },


    ];
    updateProcessList();
    const points = [];
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["M1", "M2", "M3", "M4"],
            datasets: points
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true
                }
            },
            plugins:{
                legend: {
                    display: false
                },
            },
            responsive:true,
            maintainAspectRatio: false
        }
    });
    renderChart(tasksFromUser, myChart);
    document.querySelectorAll('.add-process').forEach(e=>e.addEventListener('click', (e) => {
        e.preventDefault();
        const parent = e.target.parentElement;
        const machine_id = parent.querySelector('.machine-select');
        const time_process = parent.querySelector('.time-job');
        const process_list = parent.parentElement.querySelector('[data-task-id]')
        const time_arrived = parent.parentElement.querySelector('.time-arrived .time-arrived-input')

        tasksFromUser.push({
            task_id: process_list.getAttribute('data-task-id'),
            machine_name: 'M' + machine_id.value,
            machine_id: machine_id.value,
            time: time_process.value,
            time_arrived: time_arrived.value
        })
        process_list.innerHTML = tasksFromUser
            .filter(task=>task.task_id == process_list.getAttribute('data-task-id'))
            .map(task=>{
                return `${task.machine_name}(${task.time})`;
             })
    }));
    function updateProcessList(){
        document.querySelectorAll('tr [data-task-id]').forEach(e=>{
            e.innerHTML = tasksFromUser
                .filter(task=>task.task_id == e.getAttribute('data-task-id'))
                .map(task=>{
                    return `${task.machine_name}(${task.time})`;
                })
        })
        document.querySelectorAll('.time-arrived-input').forEach(e=>{
            e.value = tasksFromUser
                .filter(task=>task.task_id == e.getAttribute('data-input-id'))
                .map(task=>{
                    console.log(task.time_arrived)
                    return `${task.time_arrived}`;
                })[0]
        })
    }
    document.querySelector('#button-reset').addEventListener('click', (e) =>{
        e.preventDefault();
        tasksFromUser.splice(0, tasksFromUser.length);
        document.querySelectorAll('[data-task-id]').forEach(e=>e.innerHTML = '');
    });

    document.querySelector('#button-chart').addEventListener('click', (e) =>{
        e.preventDefault();
        console.log(JSON.stringify(tasksFromUser))
        renderChart(tasksFromUser, myChart);
    });

    function renderChart(tasksFromUser, myChart) {
        fetch("/sendPoints", {
            method: "POST",
            body: JSON.stringify(tasksFromUser),
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(res=> res.json())
            .then(lwr=>{
                console.log(lwr);
                points.splice(0, points.length);
                const machine_1 = lwr[0].workingCapacity;
                const machine_2 = lwr[1].workingCapacity;
                const machine_3 = lwr[2].workingCapacity;
                const machine_4 = lwr[3].workingCapacity;

                for (let i = 0; i < machine_1.length; i++) {
                    const machine_1_cap = machine_1[i];
                    const machine_2_cap = machine_2[i];
                    const machine_3_cap = machine_3[i];
                    const machine_4_cap = machine_4[i];

                    const color = [];

                    color.push(getColorById(machine_1_cap))
                    color.push(getColorById(machine_2_cap))
                    color.push(getColorById(machine_3_cap))
                    color.push(getColorById(machine_4_cap))

                    points.push({
                        data: [1, 1, 1, 1],
                        backgroundColor: color,
                        borderColor: color,
                        borderWidth: 1
                    });
                    myChart.update();
                }
            });
    }

    function getColorById(id) {
        if(id === 0){
            return 'rgba(0, 0, 0, 0)';
        }else if(id === 1){
            return 'rgba(5, 155, 5, 0.2)';
        }else if (id === 2) {
            return 'rgba(5, 250, 222, 0.2)';
        } else if (id === 3) {
            return 'rgba(155, 22, 152, 0.2)';
        } else {
            return 'rgba(156, 35, 5, 0.2)'
        }
    }
</script>
</body>
</html>